body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: "Segoe UI";
    /*
    background-image: url("../assets/img/tiles.png");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover; 
    */
  }

.spacer {
    padding: 1rem;
}

.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
}

.dropdown-item {
    color: black;
    margin-top: 0;
    font-family:"Merriweather Sans", "Segoe UI";
    font-weight: 500;
    line-height: 1;
    padding: 0.6rem;
}

@media (max-width: 769px){
    .splitter {
     font-size: 0px
    }
 }

.navcolour {
    background-color: #DB2955;
}

.titlefont {
    font-family: "Allura";
    color: white;
    font-size: 4.5rem;
}

.headercolour {
    background-color: #DB2955;
    border-radius: 20px;
}

.headingsfont {
    margin-top: 0;
    font-family: "Merriweather Sans", "Segoe UI";
    font-weight: 500;
    line-height: 1;
  }

.headerpcolour {
    color: white;
}

.buttoncolour {
    border-color: #DB2955;
    background-color: #DB2955;
    padding: 10px;
}

.buttoncolour:hover {
    background-color: #AC042E;
    border-color: #AC042E;
}

.stickbars {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
}

.navspace {
    padding-top: 5rem;
}

.flashspace {
    padding-top: 4.5rem;
    position:fixed;
    width: 25%;
    z-index: 5;
    right: 0%;
}

.flexit {
    flex: 1;
}

.noteborder {
    border-color: #DB2955;
    border-width: 2px;
}

.homeheader {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url("../assets/img/temp.jpg");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
    padding-top: 5rem;
}

.homeimgcircle {
    margin-bottom: 3rem;
    text-align: center;
}

.homeimgcircle img {
  width: 14rem;
  height: 14rem;
  border: 0.3rem solid #DB2955;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    width: 100%;
  }

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-color: #DB2955;
    border-width: 10px;
    border-radius: 10px;
}

.buttoncenter {
    text-align: center;
}

table { 
    table-layout:fixed;
    text-align: center;
}

td { 
    overflow: hidden; 
    text-overflow: ellipsis; 
    word-wrap: break-word;
}

.tabletoppad {
    padding-top: 10px;
}

.sizedown {
    height: 1.75rem;
    width: 1.75rem;
}

.calendarhead {
    background-color: #DB2955;
    color:white;
    text-align: center;
    padding: 10px;
}

.calendargray {
    color: #D4D4D4;
}

.calendartoday {
    background: #DB2955;
    color: white;
    font-weight: bold;
  }

.listcenter {
    list-style-position: inside;
}