{% extends "template.html" %}
{% block title %} Home • Peer Support SMC {% endblock %}
{% block content %}

<!--Heading-->
<section>
    <div class="homeheader">
        <img width="100px" height="100px" class="mx-auto d-block" src="static/assets/img/heartlogored.png">
        <div class="container px-4 px-lg-5 h-100">
            <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
                <div class="col-lg-8 align-self-end">
                    <h1 class="font-weight-bold titlefont">Peer Support</h1>
                    {% if user.is_authenticated %}
                    <h3 class="font-weight-bold headingsfont headerpcolour">Welcome, {{ user.username }}</h3>
                    {% endif %}
                    <hr class="divider" />
                </div>
                <div class="col-lg-8 align-self-baseline">
                    <p class="text-white-75 mb-5 headerpcolour">Having fun while learning to be the best student you can
                        be every <b>Thursday Late Start</b>!</p>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="spacer"></div>

<!--Main Paragraph-->
<section class="page-section headercolour container">
    <div class="spacer"></div>
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-lg-8 text-center">
                <h2 class="text-white mt-0 headingsfont">What is Peer Support?</h2>
                <hr class="divider divider-light" />
                <p class="text-white-75 mb-4 headerpcolour">Peer Support is a program for Year 7 and 8 students at
                    Sancta Maria College run by their Year 11 and 12 seniors, becoming their big brothers and sisters to
                    act as a guiding light throughout the beginnings of their school life. They learn important ideas
                    like communication and friendship, so that they can implement them into school life as well as
                    outside while doing exciting activities in the process.</p>
            </div>
        </div>
    </div>
</section>

<div class="spacer"></div>

<!--Bubbles section-->
<section class="container">
    <h2 class="text-center mt-0 headingsfont">Starting the Day with Sunshine</h2>
    <hr class="divider" />
    <div class="row">
        <div class="col-lg-4">
            <div class="homeimgcircle"> <!--Bubble 1-->
                <img class="mx-auto rounded-circle" src="static/assets/img/picture2.jpg" alt="..." height="400px"
                    width="400px" />
                <h4>Welcoming Environment</h4>
                <p class="text-white-75 mb-5">Nurturing a space where everyone feels accepted, valued, and encouraged to
                    contribute their unique perspective.</p>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="homeimgcircle"> <!--Bubble 2-->
                <img class="mx-auto rounded-circle" src="static/assets/img/picture6.jpg" alt="..." height="400px"
                    width="400px" />
                <h4>Building Relationships</h4>
                <p class="text-white-75 mb-5">Connecting with others, fostering trust, and creating meaningful
                    interactions that support mutual growth and collaboration.</p>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="homeimgcircle"> <!--Bubble 3-->
                <img class="mx-auto rounded-circle" src="static/assets/img/picture4.jpg" alt="..." height="400px"
                    width="400px" />
                <h4>Promoting Well-being</h4>
                <p class="text-white-75 mb-5">Creating conditions that support physical, mental, and emotional health,
                    ensuring everyone has the support needed to lead a fun school life.</p>
            </div>
        </div>
    </div>
</section>

{% endblock %}