{% extends "template.html" %}
{% block title %} Meet the Leaders • Peer Support SMC {% endblock %}
{% block content %} 

<section>
    <div class="container px-4 px-lg-5 h-100 navspace">
        <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
            <div class="col-lg-8 align-self-end">
                <h1 class="text-dark font-weight-bold headingsfont">Meet the Leaders</h1>
                <hr class="divider" />
                <p class="text-white-75 mb-5">Your Peer Support Leaders for 2024!</p>
            </div>
        </div>
    </div>
</section>

<section class="container buttoncenter">
        <button class="btn btn-primary btn-lg buttoncolour headingsfont " type="button" data-toggle="collapse" data-target="#multiCollapseExample1" aria-expanded="false">Year 7 Leaders</button>
        <div class="row">
        <div class="col">
          <div class="collapse multi-collapse tabletoppad" id="multiCollapseExample1">
            <div class="card noteborder">
              <table class="table table-striped table-hover">
                <thead>
                  <tr>
                    <th scope="col">HJR 1-5</th>
                    <th scope="col">HJR 6-9</th>
                    <th scope="col">KJR 1-4</th>
                    <th scope="col">KJR 5-9</th>
                    <th scope="col">WJR 1-5</th>
                    <th scope="col">WJR 6-9</th>
                    <th scope="col">AJR 1-5</th>
                    <th scope="col">AJR 6-9</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Raeana Flanagan</td>
                    <td>Eliyana Eliki-Jones</td>
                    <td>Maia Tay-Morrison</td>
                    <td>Andrea Araza</td>
                    <td>Lyla Latay</td>
                    <td>Madison Isaia</td>
                    <td>Angel Pallewatte</td>
                    <td>Maria Maduli</td>
                  </tr>
                  <tr>
                    <td>Jazmine Echon</td>
                    <td>Rocky Liu</td>
                    <td>Gabriel Herula</td>
                    <td>Marcella Mousses</td>
                    <td>Abby Sloane</td>
                    <td>Madison Talataina </td>
                    <td>Gabrielle Puthur </td>
                    <td>Joshua Orange</td>
                  </tr>
                  <tr>
                    <td>Chloe Lawrence</td>
                    <td>Aaron Santoso</td>
                    <td>Alphonso Manupule</td>
                    <td>Lucas Siu</td>
                    <td>Breanna Feagaiga</td>
                    <td>Ashley Ip</td>
                    <td>Hannah Hong</td>
                    <td>Jakob Yang</td>
                  </tr>
                  <tr>
                    <td>Quinsiarah Peneueta</td>
                    <td>Isabella Tran</td>
                    <td>Matthew Prentice</td>
                    <td>Alex Goddard</td>
                    <td>Jack Price</td>
                    <td>Mika Dickens</td>
                    <td>Kylene Mendoza</td>
                    <td>Mikayla Croker</td>
                  </tr>
                  <tr>
                    <td>Jaehyo Roh</td>
                    <td>Anika Bautista</td>
                    <td>Kimberley De Silva</td>
                    <td>Joshua Ernstzen</td>
                    <td></td>
                    <td>Makee Enricoso</td>
                    <td>Tomaz Zheng</td>
                    <td>Dora Finau</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </section>
      <div class="spacer"></div>
    <section class="container buttoncenter">
        <button class="btn btn-primary btn-lg buttoncolour headingsfont" type="button" data-toggle="collapse" data-target="#multiCollapseExample2" aria-expanded="false">Year 8 Leaders</button>
        <div class="row">
          <div class="col">
            <div class="collapse multi-collapse tabletoppad" id="multiCollapseExample2">
              <div class="card noteborder">
              <table class="table table-striped table-hover">
                <thead>
                  <tr>
                    <th scope="col">HJR 1-5</th>
                    <th scope="col">HJR 6-9</th>
                    <th scope="col">KJR 1-4</th>
                    <th scope="col">KJR 5-9</th>
                    <th scope="col">WJR 1-5</th>
                    <th scope="col">WJR 6-9</th>
                    <th scope="col">AJR 1-5</th>
                    <th scope="col">AJR 6-9</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>John Whittaker</td>
                    <td>Greer Sullivan</td>
                    <td>Bernadette-Rose Tominiko</td>
                    <td>Hannah Ernstzen</td>
                    <td>Mikaela Bangalan</td>
                    <td>Kathrina Bacay</td>
                    <td>Leana Heffernan</td>
                    <td>Ariana Mehau-Lave</td>
                  </tr>
                  <tr>
                    <td>Phillip Ah Kau</td>
                    <td>Elizabeth Johnstone</td>
                    <td>Seline Nevado</td>
                    <td>Cayden Pascua</td>
                    <td>Diego Carrillo</td>
                    <td>Minky Kim</td>
                    <td>Meara Magsalay-Downie</td>
                    <td>Layla Ngapakku</td>
                  </tr>
                  <tr>
                    <td>Patricia Ocampo</td>
                    <td>Myra Leasi</td>
                    <td>Joshua De Guzman</td>
                    <td>Percy Lam</td>
                    <td>Natalie Chaiatchara</td>
                    <td>Cameron Motion</td>
                    <td>Noah McKenna-Lilo</td>
                    <td>Tevita Kolomatangi</td>
                  </tr>
                  <tr>
                    <td>Malaika Mashego</td>
                    <td>Zach Baragwanath</td>
                    <td>Nate Yiu</td>
                    <td>Ethan Choo</td>
                    <td>Genevieve Guarin</td>
                    <td>Scarlette Wardle</td>
                    <td>Selai Ahovelo</td>
                    <td>Iris Oliveria</td>
                  </tr>
                  <tr>
                    <td>Yuan Leal</td>
                    <td>Jeff Pinera</td>
                    <td></td>
                    <td>Luke McEnteer</td>
                    <td>Mya Tubu</td>
                    <td></td>
                    <td>Anette Li</td>
                    <td>Martina Sanchez</td>
                  </tr>
                  <tr>
                    <td></td>
                    <td>Sofia Bryan</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>


</section>

<div class="spacer"></div>

<section class="container">
  <div class="homeimgcircle">
    <img class="mx-auto rounded-circle" src="static/assets/img/picture10.jpg" alt="..." height="400px" width="400px"/>
    <h4>Meet Zach</h4>
    <p class="text-white-75 mb-5">"Signing up for Peer Support after doing it the year before was certainly the right choice. Even with the new challenges that comes with nurturing the Year 8s, I still find working together with them as well as my fellow leaders to be an exciting way to spice up my Thursday Mornings."</p>
  </div>
</section>

<script>
  var activeNavItem = $('.nav-link');

  activeNavItem.click(function(){
    activeNavItem.removeClass('active');
    $("#link-mtl").addClass('active');  
  });
</script>

{% endblock %}