{% extends "template.html" %}
{% block title %} Login {% endblock %}
{% block content %}
<!--
TEST USER
Email: user@blog.com
Password: 12345678
-->

</br>

<section>
    <div class="container px-4 px-lg-5 h-100 navspace">
        <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
            <div class="col-lg-8 align-self-end">
                <h1 class="text-dark font-weight-bold headingsfont">Login</h1>
                <hr class="divider" />
            </div>
        </div>
    </div>
</section>

<section class="container">
    <form method="POST">
        <div class="form-group">
            <label for="email" class="headingsfont">Email Address</label>
            <input
            type="email"
            class="form-control noteborder"
            id="email"
            name="email"
            placeholder="Enter email"
            />
        </div>

<br/>

        <div class="form-group">
            <label for="password" class="headingsfont">Password</label>
            <input
            type="password"
            class="form-control noteborder"
            id="password"
            name="password"
            placeholder="Enter password"
            />
        </div>

<br/>

<div align="center">
    <button type="submit" class="btn btn-primary buttoncolour headingsfont">Login</button>
</div>

<br/>
<br/>

    </form>
</section>



{% endblock %}