{% extends "template.html" %}
{% block title %} Notes | Peer Support SMC {% endblock %}
{% block content %} 

<section>
    <div class="container px-4 px-lg-5 h-100 navspace">
        <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
            <div class="col-lg-8 align-self-end">
                <h1 class="text-dark font-weight-bold headingsfont">Notes</h1>
                <hr class="divider" />
                <p class="text-white-75 mb-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque eros velit, efficitur sit amet urna in, fermentum accumsan neque.</p>
            </div>
        </div>
    </div>
</section>

<section class="container">
    <ul class="list-group list-group-flush" id="notes">
        {% for note in user.notes %}
            <div class="card noteborder">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <div class="card-text">{{ note.data }}</div>
                    <button type="button" class="close" onClick="deleteNote({{ note.id }})">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>

    <div class="spacer"></div>

        {% endfor %}
    </ul> 

    <div>
        <form method="POST">
            <textarea name="note" id="note" class="form-control noteborder"></textarea>

            <div class="spacer"></div>

            <div align="center">
                <button type="submit" class="btn btn-primary btn-lg buttoncolour headingsfont">Add Note</button>
            </div>
        </form>
    </div>

</section>

<div class="spacer"></div>

{% endblock %}