{% extends "template.html" %}
{% block title %} Sign Up {% endblock %}
{% block content %}

</br>

<section>
    <div class="container px-4 px-lg-5 h-100 navspace">
        <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
            <div class="col-lg-8 align-self-end">
                <h1 class="text-dark font-weight-bold headingsfont">Sign Up</h1>
                <hr class="divider" />
            </div>
        </div>
    </div>
</section>

<section class="container">
    <form method="POST">

        <div class="form-group">
            <label for="email" class="headingsfont">Email Address</label>
            <input
            type="email"
            class="form-control noteborder"
            id="email"
            name="email"
            placeholder="Enter email (Must be greater than 3 characters)"
            />
        </div>

<br/>

        <div class="form-group">
            <label for="firstName" class="headingsfont">Username</label>
            <input
            type="text"
            class="form-control noteborder"
            id="firstName"
            name="firstName"
            placeholder="Enter your username (Must be greater than 1 character)"
            />
        </div>

<br/>

        <div class="form-group">
            <label for="password1" class="headingsfont">Password</label>
            <input
            type="password"
            class="form-control noteborder"
            id="password1"
            name="password1"
            placeholder="Enter password (Must be greater than 7 characters)"
            />
        </div>

<br/>

        <div class="form-group">
        <label for="password2" class="headingsfont">Confirm Password</label>
        <input
        type="password"
        class="form-control noteborder"
        id="password2"
        name="password2"
        placeholder="Re-enter Password"
            />
        </div>

<br/>

<div align="center">
    <button type="submit" class="btn btn-primary buttoncolour headingsfont">Sign Up</button>
</div>

<br/>
<br/>

    </form>
</section>
{% endblock %}