{% extends "template.html" %}
{% block title %} Sing & Dance Off • Peer Support SMC{% endblock %}
{% block content %}

<!--Heading-->
<section>
    <div class="container px-4 px-lg-5 h-100 navspace">
        <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
            <div class="col-lg-8 align-self-end">
                <h1 class="text-dark font-weight-bold headingsfont">Sing & Dance Off</h1>
                <hr class="divider" />
                <p class="text-white-75 mb-5">The end of year competiton for the pizza lunch featuring lots of singing, dancing and cheering!</p>
            </div>
        </div>
    </div>
</section>

<!--Videos-->
<section class="container">
    <h2 class="text-center mt-0 headingsfont">Previous Year's Competitions</h2>
    <hr class="divider" />
    <div class="row">
        <div class="col-sm">
            <div class="video-container">
                <iframe src="https://www.youtube.com/embed/isxi7EV8ab8?si=R4Vpif6feE6ewNdE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>
        </div>

        <div class="col-sm">
            <div class="video-container">
                <iframe src="https://www.youtube.com/embed/C9m0VZNqph4?si=5hC7y_QHcMAgzccG" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>
        </div>
    </div>

</section>

<div class="spacer"></div>

<!--Main Paragraph-->
<section class="page-section headercolour container">
    <div class="spacer"></div>
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-lg-8 text-center">
                <h2 class="text-white mt-0 headingsfont">How Does it Work?</h2>
                <hr class="divider divider-light" />
                <p class="text-white-75 mb-4 headerpcolour">The Peer Support sing and dance off is a fierce competition between the Peer Support classes. The sing off is for the Year 7s and the dance off for the Year 8s. The goal of the sing off is to create a parody of an already existing song to make it include the school’s values. While the dance off is just that! Showing off your classes' best moves.</p>
            </div>
        </div>
    </div>
</section>

<div class="spacer"></div>

{% endblock %}