{% extends "template.html" %}
{% block title %} Test Page | Peer Support SMC {% endblock %}
{% block content %}

<section>
    <div class="container px-4 px-lg-5 h-100 navspace">
        <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
            <div class="col-lg-8 align-self-end">
                <h1 class="text-dark font-weight-bold headingsfont">Test Page</h1>
                <hr class="divider" />
            </div>
        </div>
    </div>
</section>

<img src="static/assets/img/temp.jpg">
<img src="static/assets/img/temp.jpg">
<img src="static/assets/img/temp.jpg">
<img src="static/assets/img/temp.jpg">

{% endblock %}